/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 11, 2024, 3:40:24 PM
    Author     : Admin
*/

.sidebar {
    height: 100vh;
    background: #343a40;
    color: white;
    position: fixed;
    width: 250px;
}
.sidebar .nav-link {
    color: white;
}
.sidebar .nav-link:hover {
    background: #495057;
}